<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% # Inlined CSS Variables %}
    {% render 'css-variables' %}

    {% # Social, title, etc. %}
    {% render 'meta-tags' %}

    {%- liquid
      render 'vite-tag' entry: 'critical.css', preload_stylesheet: true
      render 'vite-tag' entry: 'main.css', preload_stylesheet: true
      render 'vite-tag' entry: 'main.js'
    -%}
    {{ content_for_header }}
  </head>

  <body>
    {{ content_for_layout }}
  </body>
</html>
